<p style="color: green"><%= notice %></p>

<h1>Appointments</h1>

<%= link_to "New appointment", new_has_many_through_appointment_path %>
<div id="appointments">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Physician</th>
        <th scope="col">Patient</th>
        <th scope="col">Appointment date</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
    <% @appointments.each do |appointment| %>
      <%= render "appointment", appointment: appointment, show: "true"%>
     <% end%>
    </tbody>
  </table>
</div>

