<p style="color: green"><%= notice %></p>
<h1>Appointment</h1>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Physician</th>
        <th scope="col">Patient</th>
        <th scope="col">Appointment date</th>
        <th scope="col">Action</th>
        
      </tr>
    </thead>
    <tbody>
      <%= render @appointment %>
    </tbody>
  </table>
