<p style="color: green"><%= notice %></p>

<h1>Patients</h1>

<div id="patients">
  <%= link_to "New patient", new_patient_path %>

  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Patient Name</th>
          <th scope="col">Email</th>
          <th scope="col">Total Apointments</th>
          <th scope="col">Action</th>
          
        </tr>
      </thead>
      <tbody>
      <% @patients.each do |patient| %>
        <%= render "patient", patient: patient, show: "true"%>
      <% end%>
      </tbody>
  </table>
</div>