<p style="color: green"><%= notice %></p>

<h1>Industry Details</h1>

<div id="industries">

  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Industry Name</th>
          <th scope="col">Email</th>
          <th scope="col">Registration Number</th>
          <th scope="col">Action</th>
          
        </tr>
      </thead>
      <tbody>
        <%= render "industry", industry: @industry, action: true%>
      </tbody>
  </table>
</div>

<%= getIndustrySectors.html_safe %>