<p style="color: green"><%= notice %></p>

<h1>Physician Details</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Physician Name</th>
      <th scope="col">Email</th>
      <th scope="col">Unique Id</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @physician%>
  </tbody>
</table>

<%= getApointmentPhysician.html_safe unless params[:show_apointment].present? && params[:show_apointment] == 'false' %>