<div class="m-2">
    <%= link_to "Has Many through Assignment", has_many_through_root_path, class: "btn btn-success"%>
</div>
<div class="m-2">
    <%= link_to "Has and belongsto many Assignment", has_and_belongs_to_many_root_path, class: "btn btn-info"%>
</div>